* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #141C29;
    padding-top: 2rem;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15%;
    height: 70px;
    top: 50px;
    width: 100%;
}


.contenedor{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

img{
    margin-left: 5rem;
    background-color: #2c3e5a;
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

img:hover{
    box-shadow:  5px 5px 20px rgba(0, 0, 0,0.4);
    transform: translateY(-3%);
}

p{
    margin-left: 5rem;
}


table{
    display: flex;
    margin: 5rem;
    text-align: center;
}

